<!DOCTYPE html>
<html>
<head>
    <title>Editar Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container py-4">
    <h2>Editar Usuario</h2>
    <form method="POST">
        <div class="mb-3">
            <label>Dominio</label>
            <input type="text" name="dominio" class="form-control" value="{{ user.dominio }}" required>
        </div>
        <div class="mb-3">
            <label>Usuario</label>
            <input type="text" name="usuario" class="form-control" value="{{ user.usuario }}" required>
        </div>
        <div class="mb-3">
            <label>Contraseña</label>
            <input type="text" name="contrasena" class="form-control" value="{{ user.contrasena }}" required>
        </div>
        <div class="mb-3">
            <label>Fecha Registro</label>
            <input type="date" name="fecha_reg" class="form-control" value="{{ user.fecha_reg }}" required>
        </div>
        <div class="mb-3">
            <label>Disco</label>
            <input type="text" name="disco" class="form-control" value="{{ user.disco }}" required>
        </div>
        <div class="mb-3">
            <label>Transferencia Mensual</label>
            <input type="text" name="transfer_mensual" class="form-control" value="{{ user.transfer_mensual }}" required>
        </div>
        <div class="mb-3">
            <label>Paquete</label>
            <input type="text" name="paquete" class="form-control" value="{{ user.paquete }}" required>
        </div>
        <div class="mb-3">
            <label>Precio</label>
            <input type="text" name="precio" class="form-control" value="{{ user.precio }}" required>
        </div>
        <div class="mb-3">
            <label>Server 1</label>
            <input type="text" name="server1" class="form-control" value="{{ user.server1 }}" required>
        </div>
        <div class="mb-3">
            <label>Server 2</label>
            <input type="text" name="server2" class="form-control" value="{{ user.server2 }}" required>
        </div>
        <div class="mb-3">
            <label>Detalle</label>
            <input type="text" name="detalle" class="form-control" value="{{ user.detalle }}" required>
        </div>
        <div class="mb-3">
            <label>Estado</label>
            <input type="text" name="estado" class="form-control" value="{{ user.estado }}" required>
        </div>


        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a href="/" class="btn btn-secondary">Cancelar</a>
    </form>
</body>
</html>
